.main-layout{
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-top: 80px;
}

.default-layout{
  position: relative;
}

