.glass-card {

    border-radius: 12px;
    padding: 10px;
    width: 26%;
    padding: 50px;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s;
    cursor: pointer;
}


/* Glow effect on hover */
.glass-card:hover {
  box-shadow: 0 0 20px rgba(99, 31, 122, 0.7), 
              0 0 60px rgba(70, 23, 114, 0.5);
  transform: scale(1.1);
  border: none;
}